.button{
    -fx-pref-width: 80px;
    -fx-pref-height: 50px;
    -fx-background-color: radial-gradient(center 50% 50%, radius 102%, #3fb3e5, #000000);
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0,1,2,3;
    -fx-border-color: #261da6;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;


}


.button:pressed{
    -fx-background-color: radial-gradient(center 50% 50%, radius 99%, #5f72ef, #94b8ee);
    -fx-text-fill: #444343;
}

.label{
    -fx-pref-width: 326px;
    -fx-pref-height: 40px;
    -fx-border-color:linear-gradient(#3e6e7e, #144262);
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(#98cee3 75%, #84dbe3 91%, #afd7e5 95%);
    -fx-text-fill: #444343;
    -fx-font-size: 12pt;
    -fx-text-alignment: right;
    fx-effect: dropshadow( one-pass-box , #c1fcfa, 5, 0.0 , 0 , 1 );
}

.cell{
    -fx-background-color: #858dc2;;
}