.background {
    -fx-background-color: #E2FDD7;
}

.button{
    -fx-pref-width: 80px;
    -fx-pref-height: 50px;
    -fx-padding: 0 22 0 22;
    -fx-background-color: #85D662;
    -fx-border-color: #008037;
    -fx-border-radius: 5;
    -fx-border-width: 2;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-text-fill: #444343;
    -fx-font-size: 14pt;


}


.button:pressed{
    -fx-background-color : #71B852;
    -fx-text-fill: #FFFFFF;
}

.label{
    -fx-pref-width: 240px;
    -fx-pref-height: 80px;
    -fx-padding: 0 0 0 100;
    -fx-background-color: #85D662;
    -fx-text-fill: #444343;
    -fx-font-size: 30pt;
}