.button{
    -fx-pref-width: 80px;
    -fx-pref-height: 50px;
    -fx-background-color: radial-gradient(center 50% 50%, radius 122%, #f851d7, #000000);
    -fx-text-fill: #FFFFFF;
    -fx-background-insets: 0,1,2,3;
    -fx-border-color: #ab06d9;
    -fx-border-width: 1;
    -fx-border-radius: 2;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 14pt;
}

.button:pressed{
    -fx-background-color: radial-gradient(center 50% 50%, radius 99%, #e523b8, #ee94e2);
    -fx-text-fill: #444343;
}

.label{
    -fx-pref-width: 326px;
    -fx-pref-height: 40px;
    -fx-border-color:#5a058d;
    -fx-border-width: 1;
    -fx-background-color: linear-gradient(#f8b8e2 3%, #f89fd9 8%, #f89fd9 92%, #f8b8e2 98%);
    -fx-text-fill: #444343;
    -fx-font-size: 12pt;
    -fx-text-alignment: right;
    fx-effect: dropshadow( one-pass-box , #ddc1fc, 5, 0.0 , 0 , 1 );
}

.menu-item{
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-background-color: #fd95ec;
}

.menu-item:hover{
    -fx-background-color: #d333b8;
}

.menu-item .label {
    -fx-font-size: 14pt;
    -fx-text-fill: #111111;
    -fx-background-color: #fd95ec;
    -fx-border-color: #fd95ec;
    -fx-pref-width: 80px;
    -fx-pref-height: 90px;
}

.menu .label {
    -fx-font-size: 14pt;
    -fx-text-fill: #111111;
    -fx-background-color: #fd95ec;
    -fx-border-radius: 0;
    -fx-pref-width: 80px;
    -fx-pref-height: 30px;
}

.menu-bar{
    -fx-background-color: None;
}

.label2{
    -fx-text-fill: #c42424;
    -fx-background-color: None;
    -fx-border-color: None;
    -fx-pref-width: 200px;
    -fx-font-size: 11pt;
}